logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
!/frontend/yarn.lock
/public/javascripts/bundle.js
/frontend/node_modules/
/frontend/junit.xml
